.container {                
    width: 25%;                
    height: auto;
    /*margin-top: 10%;
    margin-left: 40%;*/     
    background-color: rgb(49, 238, 49);           
}

.formcontrol {
    margin: 5px;
    padding: 5px;                
}


.divbloco {
    width: 35%;
    margin: 10px;
    height: auto;
    border: 3px;                
    border-style: dotted;
    border-color: blue;
    background: rgb(182, 151, 249);
    float: left;
}

.divgroup {
    margin: 5px;
    padding: 5px;
    width: auto;
    height: auto;                
}

.divrodape {
    clear: both;
    width: auto;
    text-align: center;
}